name: Deploy Node.js to EC2

on:
  push:
    branches: [ main ] 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            
            cd /home/ubuntu/EON_server
            
            git pull origin main
            npm install
            
            # Dựa trên package.json của bạn: script start chạy 'node src/app.js'
            pm2 restart eon-server --update-env || pm2 start src/app.js --name "eon-server"